.login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    color: #333;
    margin-bottom: 20px;
  }

  form {
    width: 300px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    color: darkolivegreen;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #258ac5;
  }
  
 
  .login-container p {
    font-size: 0.9em;
  }
  
  .login-container a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }

  .login-button {
    background-color: white;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .login-button:disabled {
    background-color: burlywood;
    cursor: not-allowed;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }


  