<div>
    <app-header></app-header>
    <app-nav-bar></app-nav-bar>
    <div class="principal">
            <app-noticias-aside [inputNoticias]="noticia" (noticiaToDelete)="deleteNoticia($event)"></app-noticias-aside>
            <app-add-notice (noticiaToCreate)="createNoticia($event)"></app-add-notice>
             <app-view-book [inputLibros]="libro" (libroToEdit)="editLibro($event)" (libroToDelete)="deleteLibro($event)" (libroToReturn)="returnLibro($event)"> </app-view-book>
             <br>
             <app-add-book (libroToCreate)="createLibro($event)"></app-add-book>
             <app-view-user [inputUsuarios]="usuario" (usuarioToEdit)="editUsuario($event)" (usuarioToDelete)="deleteUsuario($event)"> </app-view-user>
             <app-view-consult [inputConsultas]="consulta"  (consultaToDelete)="deleteConsulta($event)"> </app-view-consult>
        </div>    
    <app-footer></app-footer> 
 </div>
