<div>
    <app-nav-bar></app-nav-bar>
    <app-noticias-aside></app-noticias-aside>
        <div class="principal">
            <app-add-notice (noticiaToCreate)="createNoticia($event)"></app-add-notice>
             <app-view-book [inputLibros]="libro" (libroToEdit)="editLibro($event)" (libroToDelete)="deleteLibro($event)" (libroToReturn)="returnLibro($event)"> </app-view-book>
             <app-add-book (libroToCreate)="createLibro($event)"></app-add-book>
             <app-view-user [inputUsuarios]="usuario" (usuarioToEdit)="editUsuario($event)" (usuarioToDelete)="deleteUsuario($event)"> </app-view-user>
        </div>    
    <app-footer></app-footer> 
 </div>
