<div class = "notice-container">
    <h2>Crear Noticia</h2>

    <form autocomplete="off" class="create-form" ngSubmit)="createNoticia()">

        <div class="form-field">
            <label for="title">Titulo:</label>
            <input type="text" id="title" name="title" [(ngModel)]="newNoticia.titulo" required>
          </div>

        <div class="form-field">
            <label for="content">Contenido:</label>
            <input type="text" id="content" name="content" [(ngModel)]="newNoticia.contenido" required>
          </div>

        <div class="form-field">
            <label for="imagenUrl">Imagen:</label>
            <select name="image" id="image" formControlName="imagenUrl" placeholder="Elije una Imagen">
              <option value="Novedad">Novedad</option>
              <option value="Nuevo Libro">Nuevo Libro</option>
              <option value="Atencion">Atencion</option>
            </select>
          </div>

          <button type="submit" class="create-button">Crear Noticia</button>
  <!--
        <div class="form-group">

            <label>Imagen</label>
            <input (change)="capturarFile($event)" formControlName="imagenUrl" type="file" placeholder="Seleccione una imagen"/>
    
        </div>

        <div call="form-group" *ngIf="previsualizacion" >

            <img width="100px" src="previsualizacion" alt="">

            <button type="button" (click)="subirArchivo()"></button>

        </div>

        <button type="submit" [disabled]="newsForm.invalid" class="news-button">Publicar noticia</button> 
    -->
    </form>
</div>
    
