.principal{
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh; /* Ajusta según el diseño deseado */
    margin: 0;
    padding: 0;

}

app-view-boook{
    float: left;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}