.principal{
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;

}

.listar-libros{
    background-color: aqua;
    flex: 1;
}

.add-libros{
    background-color: blue;
    flex:1;
}