<div class="user-manager-container">
    <H2 class="user-manager-title">Usuarios</H2>
    <table class="mi-tabla">
      <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Password</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of inputUsuarios">   
            <td>{{ usuario.id }}</td> 
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.password }}</td>
            <td><button class="delete-button" (click) = "deleteUsuario(usuario.id!)">Borrar</button></td>
            <td><button class="edit-button" (click)="editUsuario(usuario)">Editar</button></td>
        </tr>
      </tbody>
    </table>
   </div> 
