
<div>
  <H2>Libros</H2>
  <table class="mi-tabla">
    <thead>
      <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Año</th>
        <th>Genero</th>
        <th>Imagen</th>
        <th>Descripción</th>
        <th>Borrr</th>
        <th>Editar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of inputLibros">    
        <td [style.background]="libro.disponibilidad == 1 ? 'green' : 'red' "[style.color]="'white'">{{ libro.nombre }}</td>
        <td>{{ libro.autor }}</td>
        <td>{{ libro.year }}</td>
        <td>{{ libro.genero }}</td>
        <td><img src={{libro.imagenUrl}}></td>
        <td>{{ libro.descripcion }}</td>
        <td><button class="delete-button" (click) = "deleteLibro(libro.id!)">Borrar</button></td>
        <td><button class="edit-button" (click)="editLibro(libro)">Editar</button></td>
        <td><button class="return-button" (click)= "returnLibro(libro.id!)">Devolver</button></td>
      </tr>
    </tbody>
  </table>
 </div> 
  
  
  