<div>
    <h2 class="custom-dialog-title">Agregar Libro</h2>
    
    <form autocomplete="off" class="create-form" (ngSubmit)="createLibro()">
  
      <div class="form-field">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newLibro.nombre" required>
      </div>
  
      <div class="form-field">
        <label for="author">Autor:</label>
        <input type="text" id="author" name="author" [(ngModel)]="newLibro.autor" required>
      </div>
  
      <div class="form-field">
        <label for="year">Año:</label>
        <input type="number" id="year" name="year" [(ngModel)]="newLibro.year" required>
      </div>
  
      <div class="form-field">
        <label for="gender">Genero:</label>
        <select name="gender" id="gender" [value]="newLibro.genero" [(ngModel)]="newLibro.genero" required>
          <option value="Suspenso">Suspenso</option>
          <option value="Novela">Novela</option>
          <option value="Misterio">Misterio</option>
          <option value="Fantasía">Fantasía</option>
          <option value="Ciencia ficción">Ciencia ficción</option>
          <option value="Historia">Historia</option>
          <option value="Chinchulines">Chinchulines</option>
      </select>
      </div>

      <div class="form-field">
        <label for="image">Imagen:</label>
        <select name="image" id="image" [value]="newLibro.imagenUrl" [(ngModel)]="newLibro.imagenUrl" required>
          <option value="Suspenso">Suspenso</option>
          <option value="Novela">Novela</option>
          <option value="Misterio">Misterio</option>
          <option value="Fantasía">Fantasía</option>
          <option value="Ciencia ficción">Ciencia ficción</option>
          <option value="Historia">Historia</option>
          <option value="Chinchulines">Chinchulines</option>
        </select>
      </div>

      <div class="form-field">
        <label for="description">Descripcion:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newLibro.descripcion" required>
      </div>
  
      <button type="submit" class="create-button">Crear Libro</button>
    </form>
  </div>
  
