<footer id="contenedor-footer">
  <div id="horarios">
    <a href="#top" class="volver-arriba">Volver arriba</a>
    <img src="assets\\imagenes\\0clock.png" class="logoutm">
    <h3>HORARIO DE APERTURA</h3>
    <h3>Miercoles a Sabados 19 HRS</h3>
  </div>
  <div class="contenedor-info">
    <!-- Direccion -->
    <div id="direccion">
      <img src="assets\\imagenes\\0map.png" class="logoutm">
      <h3>DIRECCIÓN</h3>
      <p><a href="https://www.google.com/maps?ll=-34.572203,-58.426307&z=16&t=m&hl=es&gl=AR&mapclient=embed&cid=8301553194776774015" target="_blank">Av. Dorrego 3300<br>
        Recoleta, Ciudad de Buenos Aires<br> Argentina</a></p>
    </div>
    <!-- Numeros -->
    <div id="telefono">
      <img src="assets\\imagenes\\0phone.png" class="logoutm" >
      <h3>TELÉFONO</h3>
      <p><b>(+549) 2231234567</b></p>
    </div>
    <!-- Emails -->
    <div id="email">
      <img src="assets\\imagenes\\0mail.png" class="logoutm" >
      <h3>Email</h3>
      <p><b><a href="mailto:info@gmail.com.ar" target="_blank">info@parrillaNomade.com.ar</a></b></p>
    </div>
  </div>
  <!-- Social icons -->
  <div class="social">
    <!-- Facebook -->
    <a href="https://www.facebook.com/biblioAPI/" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <!-- Instagram-->
    <a href="https://www.instagram.com/biblioAPI/" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <!-- Twitter-->
    <a href="https://www.x.com/biblioAPI/" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <!-- LinkedIn-->
    <a href="https://www.linkedin.com/biblioAPI/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</footer>
