<footer id="contenedor-footer">
  <div id="horarios">
    <a href="#top" class="volver-arriba">Volver arriba</a>
    <img src="assets\\imagenes\\0clock.png" class="logoutm">
    <h3>HORARIO DE APERTURA</h3>
    <h3>Miercoles a Sabados 8hs a 20hs </h3>
  </div>
  <div class="contenedor-info">
    <!-- Direccion -->
    <div id="direccion">
      <img src="assets\\imagenes\\0map.png" class="logoutm">
      <h3>DIRECCIÓN</h3>
      <p><a href="https://www.google.com/maps/place/UTN+Universidad+Tecnol%C3%B3gica+Nacional,+Facultad+Regional+Mar+del+Plata/@-38.0490915,-57.545228,17z/data=!3m2!4b1!5s0x9584dde622974705:0xae9876d4dad26093!4m6!3m5!1s0x9584dde618d88b07:0x98429fd7ae71776c!8m2!3d-38.0490958!4d-57.5426531!16s%2Fg%2F1hc4w29jp?entry=ttu" target="_blank">
        Av. Dorrego 281, Mar del Plata<br></a></p>
    </div>
    <!-- Numeros -->
    <div id="telefono">
      <img src="assets\\imagenes\\0phone.png" class="logoutm" >
      <h3>TELÉFONO</h3>
      <p><b>(+549) 2231234567</b></p>
    </div>
    <!-- Emails -->
    <div id="email">
      <img src="assets\\imagenes\\0mail.png" class="logoutm" >
      <h3>Email</h3>
      <p><b><a href="Biblioapi:info@gmail.com.ar" target="_blank">Biblioapi@bibliotecas.com.ar</a></b></p>
    </div>
  </div>
  <!-- Social icons -->
  <div class="social">
    <!-- Facebook -->
    <a href="https://www.facebook.com/biblioAPI/" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <!-- Instagram-->
    <a href="https://www.instagram.com/biblioAPI/" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <!-- Twitter-->
    <a href="https://www.x.com/biblioAPI/" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <!-- LinkedIn-->
    <a href="https://www.linkedin.com/biblioAPI/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</footer>
