
  

  #contenedor-nav {
    background-color: #6B9080;
    position: fixed; 
    width: 100%; 
    z-index: 1000;
    
}
.nav-principal {
    background-image: linear-gradient(to top, var(--color4), var(--color2));
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 1.4rem;
    border-top: 2px solid #302f2f;
    border-bottom: 2px solid #302f2f;
    border-top: 2px solid var(--color1);
      border-bottom: 2px solid var(--color1);
    position: relative;
}

#contenedor-nav a {
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: #000000;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 2rem;
}
#nav-usuarioNombre  {
  text-decoration: none;
  color: #000000;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 3rem;
}

#contenedor-nav a:hover {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    flex-grow: 0.01;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #020202 2px 2px 2px;
    border-radius: 10%;
}

@media (max-width: 800px) { 
    .nav-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 18rem;
        padding: 0rem;
    }
    #contenedor-nav a{
        font-size: 2rem;
        padding: 0.02rem;
        border: none;
    }

    #nav-usuarioNombre {
        display: none; 
    }
}
